body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    color: RED;
    margin-left: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

li:nth-child(even) {
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
